@import url(../fonts/pretendard.css);

body {
  margin: 0;
  font-family: "Pretendard";
  font-size: 18px;
}

div,
input,
section {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}
p,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.title1 {
  color: #292929;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.title2 {
  color: #292929;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.title3 {
  color: #292929;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}

.sub-title1 {
  color: #343434;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.text1 {
  color: #343434;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.text3 {
  color: #343434;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.caption {
  color: #343434;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.sm-point {
  font-size: 20px;
  color: #2e90ff;
  font-weight: 400;
}
